<% @title = "メッセージ" %>
<h1><%= @title %></h1>

<h2><%= "メッセージの削除は更新するまで反映されません。" %></h2>
<div id="main-container">
  <div id="message-container">
    <div id="contacts">
      <%= render @contacts %>
    </div>
  </div>
</div>

<%= render 'form', contact: @new_contact %>
