<% if contact.is_from_parents %>
  <div class="message left">
    <p><%= contact.message %></p>
    <span class="time"><%= contact.created_at.strftime("%Y-%m-%d %H:%M") %></span>
  </div>
<% else %>
  <div class="message right">
    <p><%= contact.message %></p>
    <span class="time"><%= contact.created_at.strftime("%Y-%m-%d %H:%M") %></span>
  </div>
<% end %>
