<tr>
  <td><%= announcement.title %></td>
  <td><%= announcement.start_date %></td>
  <td><%= announcement.end_date %></td>
  <td>
  <%= link_to truncate(announcement.content, length: 40), [:student, announcement] %>
  </td>
</tr>
