html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div#wrapper{
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: #EfAf47;
}
header {
  padding: 20px;
  background-color: #0F1733;
  color: #fafafa;
  a.logo-mark {
    float: none;
    text-decoration: none;
    font-weight: bold;
  }
  a {
    float: right;
    color: #fafafa;
  }
}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafafa;
  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}
.message {
  max-width: 60%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  clear: both;
}

.message.left {
  background-color: #f1f1f1;
  float: left;
  margin-right: 40%;
}

.message.right {
  background-color: #0084ff;
  color: white;
  float: right;
  margin-left: 40%;
}

.message p {
  margin: 0;
}

.message .time {
  display: block;
  font-size: 0.8em;
  color: #666;
  text-align: right;
  margin-top: 5px;
}
