.table-wrapper {
  width: 90%;
  margin: 0 auto;

  .links {
    text-align: right;
    padding: 5px;
  }

  .table-scroll {
    overflow-x: auto;
    width: 100%;
  }

  table.listing {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;

    th, td {
      padding: 2px;
      text-align: center;
      border: 1px solid #1a1919;
      font-size: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      background-color: #5b5656;
      color: #9c9696;
    }

    tr:nth-child(even) {
      background-color: #ffffff;
    }

    tr:nth-child(odd) {
      background-color: #a19a9a;
    }
  }
}

.link {
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.active {
    background-color: #4caf50;
    color: #ffffff;
  }

  &.inactive {
    background-color: #f44336;
    color: #ffffff;
  }
}

.label {
  padding: 0.1em 0.4em;
  border-radius: 0.2em;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  font-size: 8px;
}

.label-success {
  background-color: #5cb85c;
}

.label-warning {
  background-color: #dc1010;
}

.label-default {
  background-color: #1a1919
}

.btn {
  display: inline-block;
  padding: 6px 10px;
  margin: 2px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.btn-increase {
    background-color: #4caf50;
    color: #ffffff;
  }

  &.btn-decrease {
    background-color: #f44336;
    color: #ffffff;
  }

  &:hover {
    opacity: 0.8;
  }

  @media only screen and (max-width: 600px) {
    .table-wrapper {
      width: 100%;
    }

    .table-scroll {
      overflow-x: auto;
    }
  
    table.listing {
      font-size: 6px; /* モバイルではさらに小さいフォントサイズ */
    }
  
    th, td {
      padding: 3px; /* モバイルではさらにパディングを減少 */
    }
  }

  header {
    padding: 10px 10px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
