div#wrapper {
  div#container {
    div#generic-form {
      width: 100%;
      max-width: 480px;
      margin: 10px auto;
      padding: 10px;
      border-radius: 20px;
      border: solid 4px #5d4f4f;
      background-color: #dbcfcf;
      box-sizing: border-box;

      form {
        display: flex;
        flex-direction: column;

        div {
          padding: 20px; /* Adjust padding as needed */
        }

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          vertical-align: middle;
        }

        input,
        select,
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
        }

        .radio-group {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 10px;
        }

        .radio-item {
          display: flex;
          align-items: center;
          margin-right: 10px;
        }

        .radio-group input[type="radio"] {
          margin-right: 5px;
        }

        input[type="radio"],
        input[type="checkbox"] {
          width: auto;
        }

        div.notes {
          text-align: right;
          font-size: 10px;
          span.mark {
            color: red;
          }
        }

        div.buttons {
          text-align: center;
          input[type="submit"] {
            padding: 10px 20px;
          }
        }

        input[type="submit"] {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 10px 15px;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .field_with_errors {
        display: inline;
        padding: 0;
        label {
          color: #eb1313;
        }
        input {
          background-color: pink;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  div#generic-form {
    padding: 15px;
    border-radius: 15px;
    max-width: 100%;
    margin: 5px;
  }

  form {
    padding: 0;
  }

  label {
    font-size: 0.9em;
  }

  input,
  select,
  textarea {
    padding: 10px; /* 内部パディングを調整 */
  }

  .radio-group {
    flex-direction: column;
  }

  .radio-item {
    margin-bottom: 10px;
  }

  div.notes {
    font-size: 12px; /* フォントサイズを少し大きく */
  }

  input[type="submit"] {
    padding: 12px 20px; /* ボタンのサイズ調整 */
  }
}

@media (max-width: 480px) {
  div#generic-form {
    margin: 10px;
    border-radius: 10px;
    max-width: 100%;
    margin: 5px;
  }

  form {
    padding: 0; 
  }

  input,
  select,
  textarea {
    padding: 12px; /* 内部パディングを調整 */
  }

  input[type="submit"] {
    padding: 15px 25px; /* ボタンのサイズ調整 */
    font-size: 0.9em; /* フォントサイズ調整 */
  }

  div.notes {
    font-size: 14px; /* フォントサイズを少し大きく */
  }
}
