html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  color: #1f1f1f;
  background-color: #2abad3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #0F1733;
  color: #fafafa;
  a.logo-mark {
    text-decoration: none;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: #fafafa;
  }
}

#header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

#new-contacts-notification {
  margin-right: 20px;
 }
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafa;
  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;

  li {
    margin: 0 10px;
  }

  li a {
    display: block;
    padding: 10px 20px;
    color: #fafafa;
    text-decoration: none;
    border: 1px solid #fafafa;
    border-radius: 4px;
    background-color: #0F1733;
    transition: background-color 0.3s, color 0.3s;
  }
}

.horizontal, .horizontal-hw, .horizontal-hw-contents {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.horizontal-item, .horizontal-item-hw, .horizontal-item-hw-contents {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  background-color: #080808;
  text-align: center;
  color: #fafafa;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal {
  height: 100px;
}

.horizontal-hw {
  height: 50px;
}

.horizontal-hw-contents {
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.horizontal-item-hw-contents {
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.in_at-section {
  background-color: #0F1733;
  color: #fafafa;
}

.homework-status-section {
  background-color: #2b2b2b;
  color: #fafafa;
}

.homework-deadline {
  font-weight: bold;
  color: #ffcc00;
}

.homework-type, .homework-page {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .horizontal, .horizontal-hw, .horizontal-hw-contents {
    flex-direction: column;
  }

  .horizontal-item, .horizontal-item-hw, .horizontal-item-hw-contents {
    margin: 10px 0;
    width: 100%;
  }
}

#message-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #17ee13;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 700px);
  max-height: calc(100vh - 200px); /* フォームの高さを考慮して調整 */
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
}

.from-label {
  position: absolute;
  top: -20px; /* メッセージ枠からの距離を調整 */
  right: 0;
  background-color: #090909; /* ラベルの背景色を設定 */
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.9em;
  color: #e8e3e3;
}

.message {
  max-width: 60%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  clear: both;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message.left {
  background-color: #f1f1f1;
  float: left;
  margin-right: 40%;
}

.message.right {
  background-color: #0084ff;
  color: white;
  float: right;
  margin-left: 40%;
}

.message p {
  margin: 0;
}

.message .time {
  display: block;
  font-size: 0.8em;
  color: #0a0707;
  text-align: right;
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  #message-container {
    width: 100%;
    padding: 10px;
    min-height: calc(100vh - 300px); /* スマホ画面での調整 */
    max-height: calc(100vh - 100px); /* スマホ画面での調整 */
  }

  .message {
    max-width: 90%;
    margin: 10px auto;
  }

  .message.left {
    margin-right: auto;
  }

  .message.right {
    margin-left: auto;
  }
}
