div#wrapper {
  div#container {
    div#login-form {
      width: 100%;
      max-width: 320px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 20px;
      border: solid 4px #666666;
      background-color: #b9b9c4;

      h1 {
        background-color: transparent;
        color: #0f0f0f;
        font-size: large;
        font-weight: bold;
      }

      form {
        div {
          padding: 10px;
          label {
            display: block;
            padding: 6px 0;
          }
          input[type="text"], input[type="password"] {
            padding: 6px ;
            width: 100%;
          }
            input[type="submit"] {
              width: 100%; /* 幅を100%に設定 */
              padding: 10px; /* 内部パディングを追加 */
              background-color: #007bff; /* ボタンの背景色 */
              color: white; /* ボタンの文字色 */
              border: none; /* ボタンのボーダーを削除 */
              border-radius: 5px; /* 角を丸く */
              cursor: pointer; /* カーソルをポインターに変更 */
              transition: background-color 0.3s; /* ホバー時のトランジション */
            }
            input[type="submit"]:hover {
              background-color: #0056b3; /* ホバー時の背景色 */
            }
          }
         }
      }
    }
  }
  