* {
  box-sizing: border-box; /* パディングとボーダーを含めたサイズ計算 */
}

.table-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.links a{
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.announcement-list {
  display: flex;
  flex-direction: column;
  gap: 15px; /* カード間の隙間 */
}

.announcement-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.announcement-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ホバー時の影を強調 */
}

.announcement-title {
  font-size: 18px;
  color: #333;
  margin: 0 0 10px; /* タイトルの下に隙間 */
}

.announcement-dates {
  font-size: 10px;
  color: #777;
  margin-bottom: 10px; /* 日付の下に隙間 */
}

.announcement-content {
  font-size: 14px;
  color: #1a73e8; /* リンクの色 */
}

.announcement-content a {
  text-decoration: none;
  color: #007bff;
}

.announcement-content a:hover {
  text-decoration: underline; /* ホバー時の下線 */
  color: #ee0e0e;
}

.no-announcements {
  text-align: center;
  color: #777;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  table-layout: auto;
}

table th, table td {
  padding: 20px 25px;
  text-align: left;
  border: 2px solid #333; /* 境界線を濃くするために2px solid #333に変更 */
  white-space: nowrap;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td p {
  color: #333; /* simple_formatで生成された段落の色を設定 */
}

table tr:nth-child(even) td {
  background-color: #ffffff;
}

table tr:nth-child(odd) td {
  background-color: #ffffff;
}

td.actions {
  color: #5b5656;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

table.listing {
  width: 100%; /* テーブルの幅を100%に設定 */
  border-collapse: collapse; /* ボーダーを重ねて表示 */
  table-layout: auto; /* 固定レイアウトを使用 */
}

table.listing th,
table.listing td {
  padding: 12px; /* セルの内側の余白 */
  border: 2px solid #333; /* 境界線 */
  text-align: left; /* テキストを左揃え */
  overflow: hidden; /* はみ出しを隠す */
  white-space: nowrap; /* 改行を防ぐ */
  text-overflow: ellipsis; /* はみ出した場合に省略記号を表示 */
}

table.attributes {
  width: 100%; /* テーブルの幅を100%に設定 */
  border-collapse: collapse; /* ボーダーを重ねて表示 */
}

@media only screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    min-width: 100%;
  }

  .table-wrapper {
    padding: 10px;
  }

  table th, table td {
    padding: 12px 10px;
    font-size: 10px;
    white-space: normal;
  }

  table th {
    &:nth-child(1) { width: 150px; } /* 氏名 */
    &:nth-child(2) { width: 250px; } /* フリガナ */
    &:nth-child(3) { width: 150px; } /* 誕生日 */
    &:nth-child(4) { width: 250px; } /* メールアドレス */
    &:nth-child(5) { width: 200px; } /* スマホ預かり設定 */
  }
}
