.table-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .links {
    text-align: right;
    margin-bottom: 20px;
    padding-right: 20px;

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #0056b3;
      }
    }
  }

  table {
    margin: 20px auto 0;
    border: solid 10px #000000;
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 12px 15px;
      text-align: center;
      border: 2px solid #333; /* 境界線をくっきりさせる */
    }

    th {
      background-color: #007bff;
      color: white;
      font-weight: normal;
    }

    td {
      background-color: white;
    }

    tr:nth-child(even) td {
      background-color: #f9f9f9;
    }

    tr:nth-child(even) {
      background-color: #9c9696;
    }

    tr:nth-child(odd) {
      background-color: #d8cfcf;
    }
  }

  td.actions {
    color: #5b5656;
  }
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .table-wrapper {
    width: 100%;
    padding: 10px;

    .links {
      padding-right: 0;
    }

    table th, table td {
      padding: 8px 10px;
    }
  }
}
